		<div class="post">
			<h2 class="title">Добро пожаловать</h2>
			<p class="date">01.11.2010</p>
			<div class="entry">
				<p>Это пример того как можно использовать чистый Sinatra фреймворк для нарезки шаблонов для сайтов</p>
				<p>Быстрый старт - erb шаблоны, бесплатный хостинг</p>
				<p>Sources: <a href="http://github.com/nemilya/sinatra-powered-site">http://github.com/nemilya/sinatra-powered-site</a></p>
			</div>
		</div>
		<div class="post">
			<h2 class="title">Lorem ipsum sed aliquam</h2>
			<p class="date">01.23.09</p>
			<div class="entry">
				<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros.</p>
				<p class="links"><a href="#" class="comments">Comments (64)</a> &nbsp;&nbsp;&nbsp; <a href="#" class="permalink">Full article</a></p>
			</div>
		</div>
		<div class="post">
			<h2 class="title">Lorem ipsum sed aliquam</h2>
			<p class="date">01.23.09</p>
			<div class="entry">
				<p>Sed lacus. Donec lectus. Nullam pretium nibh ut turpis. Nam bibendum. In nulla tortor, elementum vel, tempor at, varius non, purus. Mauris vitae nisl nec metus placerat consectetuer. Donec ipsum. Proin imperdiet est. Phasellus <a href="#">dapibus semper urna</a>. Pellentesque ornare, orci in consectetuer hendrerit, urna elit eleifend nunc, ut consectetuer nisl felis ac diam. Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Phasellus pellentesque. Mauris quam enim, molestie in, rhoncus ut, lobortis a, est.</p>
				<p class="links"><a href="#" class="comments">Comments (64)</a> &nbsp;&nbsp;&nbsp; <a href="#" class="permalink">Full article</a></p>
			</div>
		</div>
