		<ul>
			<li>
				<h2>Sinatra-rb</h2>
				<p>Sinatra is a free and open source web application framework and domain-specific language written in Ruby.</p>
			</li>
			<li id="calendar">
			  <%= erb :'page/_sidebar_calendar' %>
			</li>
			<li>
			  <%= erb :'page/_sidebar_links' %>
		</ul>
